.main-bg {
    background-image: url(/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    @media (orientation: landscape) {
        height: calc(100vh - 93px);
    }
}